<div class="widget dribbble">
	<h3 class="widget-title">Dribbble Stream</h3>
	<div class="widget-content">
		<ul class="dribbble-feed"
			data-userid="dekkerslade" {{! Change your dribbble user name here}}
			data-mode="gallery"
			data-display="12" {{! Change number of item that you want to display here}}
			data-cols="3" {{! Change number of columns that you want to display here}}
			data-popup-preview="true"
		>
		</ul>
		<a class="follow-box dribbble"
			href="https://dribbble.com/dekkerslade" {{! Change your dribbble profile url here}}
			target="_blank">
			Follow on Dribbble {{! Change text for follow button here}}
		</a>
	</div>
</div>