<div class="widget facebook-like">
	<h3 class="widget-title">Like Us</h3>
	<div class="widget-content">		
		<div class="sf-fb-like-box"
			data-pageurl="https://www.facebook.com/sunflower.theme" {{! Change your facebook page url here}}
			data-show-faces="true" 
			data-header="true"
			data-stream="false"
			data-show-border="true"
		>
		</div>
	</div>
</div>