<div class="widget flickr-widget">
	<h3 class="widget-title">Flickr</h3>
	<div class="widget-content">
		<ul class="flickr-feed"
			data-user-id="36587311@N08" {{! Change your flickr user name here}}
			data-mode="gallery"
			data-size="10" {{! Change number of item that you want to display here}}
			data-cols="5" {{! Change number of columns that you want to display here}}
			data-popup-preview="true"
		>
		</ul>
	</div>
</div>