<div class="widget instagram">
	<h3 class="widget-title">Instagram</h3>
	<div class="widget-content">
		<ul class="instagram-feed"
			data-userid="robertjosiah" {{! Change your instagram user name here}}
			data-api-token="518686459.9d1fadd.b2bb7107f2a745a78c991ddec9f0b161" {{! Change your instagram api token here}}
			data-api-clientid="9d1fadd22dc942e5a7c75f409fac0cc0" {{! Change your instagram api clientid here}}
			data-mode="gallery"
			data-display="12" {{! Change number of item that you want to display here}}
			data-cols="3" {{! Change number of columns that you want to display here}}
			data-popup-preview="true"
		>
		</ul>
		<a class="follow-box instagram" target="_blank"
			href="https://instagram.com/" {{! Change instagram profile url here}}
		>
		Follow on Instagram {{! Change text for follow button here}}
		</a>
	</div>
</div>