<div class="widget">
	<h3 class="widget-title">Recent Posts</h3>
	<div class="widget-content">
		<div class="recent-posts"
			data-size="5" {{! Change number of post item you want to display here}}
			data-desc="false" {{! Change it to true to show post desc}}
			data-pubdate="true" {{! Change it to true to show post publist date}}
			data-character-limit="70" {{! limit number of characters for post description here}}
		>
		</div>
	</div>
</div>