<div class="widget search-widget">
	<h3 class="widget-title">Search</h3>
	<div class="widget-content">
		<div class="sf-search-widget">
			<div class="form-group">
				<input type="search" name="search-keyword-widget" class="search-keyword-widget" placeholder="Type and hit enter!"/>
				<span class="icon sf-widget-search-icon">
	                <i class="fa fa-search"></i>
	            </span> 
	        </div>
	        <div class="search-result-widget-wrap">
				<div class="search-result-widget-inner">
					<ul class="search-result-widget"></ul>
				</div>
			</div>
		</div>
	</div>
</div>