<div class="widget">
	<h3 class="widget-title">Tags</h3>
	<div class="widget-content">
		<div class="sf-tags stack" data-max-items="10" data-show-count="true">			
			<div class="sf-loading">
				<div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
			</div>
		</div>
	</div>
</div>