<div class="widget text">
	<h3 class="widget-title">Text Widget</h3>
	<div class="widget-content">
		Remember, the list price of an item page includes a buyer fee directly from Envato to the buyer on top of your item price. We use the total value figure to determine what author fee to charge you.
	</div>
</div>