.sf-social li:hover a i {
  color: #DC4E00;
}
.full-color .sf-social li.comment {
  background-color: #DC4E00;
}
.pagination-wrap .pagination {
  color: #DC4E00;
}
.pagination-wrap .pagination a {
  border-color: #DC4E00;
  color: #DC4E00;
}
.pagination-wrap .pagination a:hover {  
  background-color: #DC4E00;
}
.go-to-top-wrap { 
  background: #DC4E00;
}
.gmap-container { 
  background-color: #DC4E00;
}
#gmap div.gmnoprint[title="i-am-here"] {
  background-color: #DC4E00;
}
.sf-header .logo-container .logo.text { 
  color: #DC4E00;
}
.sf-nav-wrap .sf-nav > li > a {
  color: #DC4E00;
}
.sf-nav-wrap .sf-nav > li > a:after {
  color: #DC4E00;
}
.sf-nav-wrap .sf-nav > li.active > a,
.sf-nav-wrap .sf-nav > li:hover > a { 
  background-color: #DC4E00;
}
.dark .sf-nav-wrap .sf-nav > li.active > a,
.dark .sf-nav-wrap .sf-nav > li:hover > a {
  color: #DC4E00;
}
.dark .sf-nav-wrap .sf-nav > li.active > a:after,
.dark .sf-nav-wrap .sf-nav > li:hover > a:after {
  color: #DC4E00;
}
.sf-nav-wrap .sf-nav > li > ul:before {
  border-bottom-color: #DC4E00;
}
.sf-nav-wrap .sf-nav > li > ul > li { 
  background-color: #DC4E00;
}
.dark .sf-nav-wrap .sf-nav > li > ul > li.active > a,
.dark .sf-nav-wrap .sf-nav > li > ul > li:hover > a {
  color: #DC4E00;
}
.dark .sf-nav-wrap .sf-nav > li > ul > li.active > a > span,
.dark .sf-nav-wrap .sf-nav > li > ul > li:hover > a > span {
  color: #DC4E00;
}
.dark .sf-nav-wrap .sf-nav > li > ul > li.active > a > i,
.dark .sf-nav-wrap .sf-nav > li > ul > li:hover > a > i {
  color: #DC4E00;
}
.dark .sf-nav-wrap .sf-nav > li > ul > li.active > a:after,
.dark .sf-nav-wrap .sf-nav > li > ul > li:hover > a:after {
  color: #DC4E00;
}
.sf-nav-wrap .sf-nav > li > ul > li > ul:before {  
  border-right-color: #DC4E00;
}
.sf-nav-wrap .sf-nav > li > ul > li > ul > li { 
  background-color: #DC4E00;
}
.dark .sf-nav-wrap .sf-nav > li > ul > li > ul > li.active > a,
.dark .sf-nav-wrap .sf-nav > li > ul > li > ul > li:hover > a {
  color: #DC4E00; 
}
.dark .sf-nav-wrap .sf-nav > li > ul > li > ul > li.active > a > span,
.dark .sf-nav-wrap .sf-nav > li > ul > li > ul > li:hover > a > span {
  color: #DC4E00;
}
.dark .sf-nav-wrap .sf-nav > li > ul > li > ul > li.active > a > i,
.dark .sf-nav-wrap .sf-nav > li > ul > li > ul > li:hover > a > i {
  color: #DC4E00;
}
.addition-container .mobile-nav-button { 
  background-color: #DC4E00; 
}

.addition-container .sf-search-button {
  background-color: #DC4E00;
}
.dark .addition-container .sf-search-button > span {
  color: #DC4E00;
}
.dark .addition-container .sf-search-button > i {
  color: #DC4E00;
}
.addition-container .sf-search-button .sf-search-container-inner { 
  background-color: #DC4E00; 
}
.addition-container .sf-search-button .sf-search-container-inner .arrow { 
  border-bottom-color: #DC4E00;
}
.dark .addition-container .sf-search-button .sf-search-container #search-keyword {
  color: #DC4E00;
}
.dark .addition-container .sf-search-button .sf-search-container #search-keyword::-moz-placeholder {
  color: #DC4E00;
}
.dark .addition-container .sf-search-button .sf-search-container #search-keyword:-ms-input-placeholder {
  color: #DC4E00;
}
.dark .addition-container .sf-search-button .sf-search-container #search-keyword::-webkit-input-placeholder {
  color: #DC4E00;
}
.dark .addition-container .sf-search-button .sf-search-container .search-result li:hover a {
  color: #DC4E00; 
}
.banner {  
  background-color: #DC4E00;
}
.post-list .post .post-inner .post-tags {
  color: rgba(220,78,0, 0.65);
}
.post-list .post .post-inner .post-tags a:hover {
  color: #DC4E00;
}
.post-list .post .post-inner .post-title a {
  color: #DC4E00;
}
.post-list .post .post-inner .post-title a:hover {
  border-bottom-color: rgba(220,78,0, 0.8);
}
.post-list .post .post-inner .top-meta a:hover {
  color: #DC4E00;
}
.post-list .post .post-inner .bottom-meta .read-more,
.post-list .post .post-inner .bottom-meta .share {
  border-color: #DC4E00;
  color: #DC4E00;
}
.post-list .post .post-inner .bottom-meta .read-more:hover,
.post-list .post .post-inner .bottom-meta .share:hover {
  background-color: #DC4E00;
}
.post-list .post .post-inner.has-thumb .bottom-meta .read-more:hover,
.post-list .post .post-inner.has-thumb .bottom-meta .share:hover {
  color: #DC4E00;
}
.post-list .post.featured:after {
  border-color: transparent #DC4E00;
}
.post-list .post.featured.has-thumb:before {
  color: #DC4E00;
}

.post-content a {
  color: #DC4E00;
}
.post-content a:hover,
.post-content a:focus {
  border-bottom-color: #DC4E00;
}
.next-prev-posts a:hover {
  border-color: #DC4E00;
}
.next-prev-posts a:hover h4,
.next-prev-posts a:hover span {
  color: #DC4E00;
}
.post-footer .post-author .post-author-content .author-info a:hover {
  border-color: #DC4E00;
  background-color: #DC4E00; 
}
.widget .recent-posts ul li:hover:before,
.widget .recent-posts ul li:hover a,
.widget .recent-posts ul li:hover .post-date {
  color: #DC4E00;
}
.widget .sf-tags.stack ul li a:hover {
  color: #DC4E00;
}
.widget .sf-tags.stack ul li a:hover .name {
  color: #DC4E00;
}
.widget .sf-tags.stack ul li a:hover .count {
  background-color: #DC4E00;
}
.widget .sf-tags.cloud ul li a:hover {
  color: #DC4E00;
}
.sidebar .widget .sf-tags.cloud ul li a:hover {
  border-color: #DC4E00;
  background-color: #DC4E00;
}
.widget .sf-nav-widget li.active > a,
.widget .sf-nav-widget li.open > a,
.widget .sf-nav-widget li:hover > a {
  background-color: #DC4E00;
}
.widget .sf-search-widget .form-group .search-keyword-widget:focus {
  border-color: #DC4E00;
}

.widget .sf-search-widget .form-group:hover .search-keyword-widget {
  border-color: #DC4E00;
}
.widget .sf-search-widget .form-group:hover .sf-widget-search-icon i {
  color: #DC4E00;
}
.widget .sf-search-widget .search-result-widget li:hover a {
  color: #DC4E00;
}
.footer .widget-area .widget-area-wrap .widget {
  background-color: #DC4E00;
}
.dark .footer .widget-area .widget-area-wrap .widget .recent-posts ul li:hover:before,
.dark .footer .widget-area .widget-area-wrap .widget .recent-posts ul li:hover a,
.dark .footer .widget-area .widget-area-wrap .widget .recent-posts ul li:hover .post-date {
  color: #DC4E00;
}
.dark .footer .widget-area .widget-area-wrap .widget .sf-tags.stack ul li a:hover .name {
  color: #DC4E00;
}
.footer .widget-area .widget-area-wrap .widget .sf-tags.stack ul li a:hover .count {
  background-color: #ffffff;
  color: #DC4E00;
}
.dark .footer .widget-area .widget-area-wrap .widget .sf-tags.stack ul li a:hover .count {
  background-color: #DC4E00;
}
.footer .widget-area .widget-area-wrap .widget .sf-tags.cloud ul li a:hover {
  color: #DC4E00;
}
.dark .footer .widget-area .widget-area-wrap .widget .sf-tags.cloud ul li a:hover {
  background-color: #DC4E00;
  border-color: #DC4E00;
}
.dark .footer .widget-area .widget-area-wrap .widget .sf-nav-widget li.active > a,
.dark .footer .widget-area .widget-area-wrap .widget .sf-nav-widget li.open > a,
.dark .footer .widget-area .widget-area-wrap .widget .sf-nav-widget li:hover > a {
  background-color: #DC4E00;
}
.dark .footer .widget-area .widget-area-wrap .widget .sf-search-widget .search-result-widget li:hover a {
  color: #DC4E00;
}
@media only screen and (max-width: 979px) {  
  .sf-nav-wrap {
    background-color: #DC4E00;
  }
  .sf-nav-wrap .arrow {
    border-bottom-color: #DC4E00;
  }
  .sf-nav-wrap .sf-nav > li > a {   
    color: #e2e7ea;   
  }
  .sf-nav-wrap .sf-nav > li > a:after {
    color: #e2e7ea;
  }
  .dark .sf-nav-wrap .sf-nav > li.active > a,
  .dark .sf-nav-wrap .sf-nav > li.open > a,
  .dark .sf-nav-wrap .sf-nav > li:hover > a {
    color: #DC4E00;   
  }  
}